*.pyc
.DS_Store
build/
Scraps/
docs/_build
docs/class/*
docs/classlist.rst
docs/file/*
docs/filelist.rst
docs/namespace/*
docs/namespacelist.rst
docs/struct/*
docs/structlist.rst
docs/latex
docs/xml
*.dumped
resources/workspace.json
resources/gameConfig.json
resources/plugins.cfg
resources/testConfig.json
resources/editorConfig.json
resources/luarocks
resources/imgui.ini
conanbuildinfo.cmake
conaninfo.txt
conan_imports_manifest.txt
logs/
.deps
.repo
Core/include/Version.h
resources/editor/gsage.desktop
**/.materials.index
**/.luarocks
package
