language: cpp
python:
  - "3.6"
services:
  - xvfb
matrix:
  include:
    - compiler: gcc
      dist: xenial
      sudo: required
      env:
        - GSAGE_VERSION_BUILD=${TRAVIS_BUILD_NUMBER}
      addons:
        apt:
          packages:
            # install toolchains
            - xvfb
            - cmake
            - gcc
            - g++
            - clang-3.6
            - libglu-dev
            - libois-dev
            - python-dev
            - libxt-dev
            - libxaw7-dev
            - libxrandr-dev
            - libglu-dev
            - libglew-dev

    - compiler: clang
      os: osx
      osx_image: xcode9.1
      env:
        - OGRE_ENABLED=0
        - GSAGE_VERSION_BUILD=${TRAVIS_BUILD_NUMBER}

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update
      brew install glew --universal
      brew install conan
    fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo pip install --ignore-installed conan; fi
  - sleep 3
install:
  - make upload-deps
script:
  - make ci
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" -a $(git branch | grep \* | cut -d ' ' -f2) == "master" ]; then
      go get github.com/calmh/git-autotag
      git fetch --tags
      git autotag -l patch
      GITHUB_TOKEN=1f64968a87c7fbfd2c810cf645a1cc4f696ce565 git push origin --tags
    fi
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/5ec885fc0b74db2feac0
    on_success: change
    on_failure: always
    on_start: never
after_failure:
  - find ./ -name "*.log" | xargs cat
branches:
  exclude:
    - /^\d+.\d+.[\d\w]+$/
